@font-face {
  font-family: perp;
  src: url("display.otf") format("opentype");
}

@font-face {
  font-family: title;
  src: url("titleLight.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  --elise-black: black;

  font-family: title;
  color: var(--elise-black);
  margin: 0;
  padding: 0;
  height: 100vh;
  height: 100dvh;
  width: 100vw;

  display: grid;
  grid-template-rows: 8rem calc(100% - 12rem) 4rem;
  grid-template-columns: 1fr;
}

header {
  display: flex;
  justify-content: center;
  border-bottom: solid 1px var(--elise-black);
}

.letterhead {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.letterhead-title {
  margin-bottom: 0.25rem;
}

.letterhead-sub {
  margin-top: 0.25rem;
}

.main {
  flex: 1;
  width: 100%;
}

.gallery {
  height: 100%;
  width: 100%;
}

.gallery-img {
  object-fit: contain;
  height: 100%;
  max-height: 100%;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: solid 1px var(--elise-black);
}

.footer-item {
  cursor: pointer;
}
