@font-face {
  font-family: perp;
  src: url("display.otf") format("opentype");
}

@font-face {
  font-family: title;
  src: url("titleLight.ttf") format("truetype");
}

body {
  --elise-black: black;

  font-family: title;
  color: var(--elise-black);
}

header {
  display: flex;
  justify-content: center;
  border-bottom: solid 1px var(--elise-black);
}

.letterhead {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.letterhead-title {
  margin-bottom: 0.25rem;
}

.letterhead-sub {
  margin-top: 0.25rem;
}
